* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100vw;
    height: 100vh;
    background: var(--bg);
    overflow: hidden;
}


#scene {
    width: 100vw;
    height: 100vh;
    position: relative;
}


#ball {

    width: 90px;
    height: 90px;

    background: var(--bg);

    border-radius: 50%;

    position: absolute;

    left: 50%;
    top: 0;

    margin-left: -45px;

}